{% extends 'base.html' %}

{% block content %}
  <ul>
    <li>
      <a href="{% url 'simple_upload' %}">Simple Upload</a>
    </li>
  </ul>
  {% for uploaded_file_url in urls %}
    <p>File: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endfor %}


{#  <p>Uploaded files:</p>#}
{#  <ul>#}
{#    {% for obj in names %}#}
{#      <li>#}
{#        <a href="{{ obj }}"></a>#}
{#      </li>#}
{#    {% endfor %}#}
{#  </ul>#}
{% endblock %}